.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.jpg
/Img
Odev1/Odev1.html
Odev1/Odev1.css
